:root {
  --c-subtle: #F1FEFE;
  --c-secondary: #00DBD0;
  --c-primary: #374B5C;
  --c-light: #ffffff;

  --font-text:  'Libre Baskerville', sans-serif;
}

/* semantic color variables for this project */
:root {
  --c-background: var(--c-subtle);
  --c-text: var(--c-primary);
  --c-card-border: var(--c-primary);
  --c-pagination: var(--c-primary);
  --c-text-secondary: var(--c-secondary);
  --c-text-light: var(--c-light);
  --c-background-secondary: var(--c-secondary);
  --c-link: var(--c-secondary);
  --c-pagination-active: var(--c-secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}
