@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';
@import './base.css';

.App {
  width: 100%;
  height: 100vh;
  /*background: #191919;*/
}

html {
  font-size: 0.25vw;
}

@media (min-width: 400px) {
  html {
    font-size: 1px;
  }
}
@media (min-width: 440px) {
  html {
    font-size: calc(100vw/440);
  }
}
@media (min-width: 600px) {
  html {
    font-size: 1.362px;
  }
}

/*2 колонки*/
@media (min-width: 760px) {
  html {
    font-size: 0.12vw;
  }
}
@media (min-width: 833px) {
  html {
    font-size: 1px;
  }
}
@media (min-width: 852px) {
  html {
    font-size: calc(100vw / 852);
  }
}
@media (min-width: 934px) {
  html {
    font-size: 1.12px;
  }
}

/*3 колонки*/
@media (min-width: 1264px) {
  html {
    font-size: calc(100vw / 1264);
  }
}
@media (min-width: 1420px) {
  html {
    font-size: 1.12px;
  }
}

.page {
  background: var(--background-page);
}

@media (max-width: 1263px) {
  .hidden-tab {
    display: none;
  }
}
@media (max-width: 765px) {
  .hidden-mobile {
    display: none;
  }
}